<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a Blog</title>
    <link rel="stylesheet" href="/styles/Review/writeReview-style.css"> <!-- Include your CSS file -->
</head>
<body>
    <h1>Write a Review</h1>
    <form action="/writeReview" method="post">
       
            <label for="name">UserName</label>
            <input type="text" id="name" name="username" required>
            <label for="content">Review</label>
            <textarea id="content" name="reviewContent" required></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>
