<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Tour</title>
  <link rel="stylesheet" href="/styles/booking-style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
  <section class="book" id="book">
    <h1 class="heading">
      <span>B</span>
      <span>O</span>
      <span>O</span>
      <span>K</span>
      <span class="space"></span>
      <span>N</span>
      <span>O</span>
      <span>W</span>
    </h1>
    <div class="row">
      <div class="image">
        <img src="/bookingImage.jpg" alt="image" />
      </div>
      <form action="/confirmBooking/<%= tourId %>" method="post">
        <div class="inputBox">
          <h3>Full name</h3>
          <input type="text" id="full_name" name="full_name" placeholder="Enter Full Name" />
        </div>
        <div class="inputBox">
          <h3>Contact Number</h3>
          <input type="number" id="phone_no" name="phone_no" placeholder="Enter the contact number" />
        </div>
        <div class="inputBox">
          <h3>Total Member</h3>
          <input type="number" id="total_count" name="total_count" placeholder="Enter total member" />
        </div>
        <div class="inputBox">
          <h3>Total Amount</h3>
          <input type="number" id="total_amount" name="total_amount" placeholder="Enter total amount" />
        </div>

        <div class="button-container">
          <!-- Change the button type to "button" -->
          <button class="btn" id="confirmButton">Confirm</button>
        </div>


    </div>

    </form>
    </div>
  </section>

  <script>

    // Get the "Confirm" button element
    const confirmButton = document.getElementById('confirmButton');

    // Add a click event listener to the "Confirm" button
    confirmButton.addEventListener('click', (event) => {
      // Show a confirmation dialog
      const confirmed = confirm('Are you sure to confirm?');

      // If the user clicks "OK" in the confirmation dialog
      if (confirmed) {
        const inputElements = document.querySelectorAll('input');

        // Check if any input field is empty
        const isEmpty = [...inputElements].some((input) => !input.value.trim());

        // Get the values of maleCount and femaleCount
        const maleCount = parseInt(document.getElementById('male_count').value);
        const femaleCount = parseInt(document.getElementById('female_count').value);

        if (isEmpty || (maleCount === 0 && femaleCount === 0)) {
          // Display an error message
          alert('Please fill in all fields and ensure that at least one guest (male or female) is selected.');
          // Prevent the form from submitting
          event.preventDefault();
        }
        // If all conditions are met, the form will be submitted as usual
      } else {
        // If the user clicks "Cancel" or closes the dialog, do nothing
        event.preventDefault();
      }
    });



  </script>


</body>

</html>