<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login and Sign Up Page</title>
    <style>
      body {
        background-image: url(back.jpg);
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }
      .container {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
      }

      .btn-container1 {
        text-align: right;
      }

      .btn {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        background-color: #162938;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
      }

      .btn:hover {
        background-color: #0d1c2d;
      }
      .logo {
        margin: 10px;
        padding: 10px 40px;
        font-size: 22px;
        color: #162938;
        cursor: pointer;
      }
      h1 {
        color: #fff;
        margin: 100px 300px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 115px;
        letter-spacing: 10px;
        opacity: 0.6;

        background-image: linear-gradient(
          45deg,
          #000,
          #080808,
          #000,
          #2f2d2d,
          #000
        );
        background-size: 100%;
        background-clip: padding-box;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="btn-container">
          <a href="/login" class="login-link">login</a>
          <a href="/signup" class="register-link">signup</a>
        </div>
      </div>
    </div>
  </body>
</html>
