<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>TOURHUB</title>
  <link rel="stylesheet" href="/styles/home-style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <header>
    <div id="menu-bar" class="fas fa-bars"></div>
    <a href="#" class="logo"><span>T</span>ourHub</a>
    <nav class="navbar">
      <a href="#home">Home</a>
      <a href="#packages">Packages</a>
      <a href="#gallery">Gallery</a>
      <a href="#services">Services</a>
      <a href="#review">Review</a>
      <a href="#faq">FAQ</a>
      <a href="/myProfile">My Profile</a>
      <a href="/logout">Log Out</a>
    </nav>


    <div class="trip_bx">
      <div class="search_bx">
        <div class="card">
          <h4>Location<i class="bi bi-caret-down-fill"></i></h4>
          <input type="text" placeholder="Enter your destination" />
        </div>
        <div class="card">
          <h4>Date<i class="bi bi-caret-down-fill"></i></h4>
          <input type="date" />
        </div>
        <input type="button" value="Explore" />
      </div>
    </div>
  </header>
  <section class="home" id="home">
    <div class="content">
      <h3>Adventure is worthwhile</h3>
      <p>Discover new places with us</p>
      <a href="#" class="btn">Discover more</a>
    </div>
    <div class="control">
      <span class="vid-btn active" data-src="vid-1.mp4"></span>
      <span class="vid-btn" data-src="vid-2.mp4"></span>
      <span class="vid-btn" data-src="vid-3.mp4"></span>
      <span class="vid-btn" data-src="vid-4.mp4"></span>
      <span class="vid-btn" data-src="vid-5.mp4"></span>
    </div>
    <div class="video-container">
      <video src="vid-1.mp4" id="video-slider" loop autoplay muted></video>
    </div>
  </section>

  <section class="packages" id="packages">
    <h1 class="heading">
      <span>P</span>
      <span>A</span>
      <span>C</span>
      <span>K</span>
      <span>A</span>
      <span>G</span>
      <span>E</span>
      <span>S</span>
    </h1>

    <div class="box-container" id="tour-list"></div>

  </section>


  <!--Gallery Section-------->
  <section class="gallery" id="gallery">
    <h1 class="heading">
      <span>G</span>
      <span>A</span>
      <span>L</span>
      <span>L</span>
      <span>E</span>
      <span>R</span>
      <span>Y</span>
    </h1>
    <div class="box-container" id="gallery-list">
    </div>
  </section>




  <!--Service Section-->

  <section class="services" id="services">
    <h1 class="heading">
      <span>S</span>
      <span>E</span>
      <span>R</span>
      <span>V</span>
      <span>I</span>
      <span>C</span>
      <span>E</span>
      <span>S</span>
    </h1>
    <div class="box-container">
      <div class="box">
        <i class="fas fa-hotel"></i>
        <h3>Affordable Hotels</h3>
        <p>Indulge in a delightful travel experience where quality comfort meets budget-friendly rates, curated
          exclusively within our selection of affordable hotels.</p>
      </div>
      <div class="box">
        <i class="fas fa-bullhorn"></i>
        <h3>Safety Guide</h3>
        <p>Empower your travel with our comprehensive safety guide, offering expert advice and practical tips to ensure
          your journey is not only enriching but also secure from start to finish.</p>
      </div>
      <div class="box">
        <i class="fas fa-utensils"></i>
        <h3>Food and Drinks</h3>
        <p>Delight in the flavors of the region with our culinary tours, introducing you to authentic dishes that
          showcase the local culture.</p>
      </div>
      <div class="box">
        <i class="fas fa-train-subway"></i>
        <i class="fas fa-plane"></i>
        <h3>Fastest Travel</h3>
        <p>Embark on expedited adventures with our fastest travel options, turning your journey into a swift and
          exhilarating experience of discovery.</p>
      </div>
      <div class="box">
        <i class="fas fa-globe-asia"></i>
        <h3>Around the World</h3>
        <p>Embark on a global odyssey where boundless horizons and diverse cultures converge, inviting you to weave your
          own story across the tapestry of our interconnected planet.</p>
      </div>
      <div class="box">
        <i class="fas fa-hiking"></i>
        <h3>Adventures</h3>
        <p>Thrill-seekers can indulge in a range of exciting activities, from hiking and biking to water sports, adding
          an adrenaline rush to your getaway.</p>
      </div>
    </div>
  </section>

  <!--new review section----------->
  <section class="review" id="review">
    <h1 class="heading">
      <span>R</span>
      <span>E</span>
      <span>V</span>
      <span>I</span>
      <span>E</span>
      <span>W</span>
    </h1>

    <div class="Wrapper">
      <i  id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carousel">
        <!--
          <li class="card">
          <div class="img"><img src="metaly.jpg" alt="img" draggable="false"></div>
          <h2>Metaly</h2>
          <p>Embark on a global odyssey where boundless horizons and diverse cultures converge, inviting you to weave
            your own story across the tapestry of our interconnected planet.</p>
        </li>
        -->
        
      </ul>
      <i  id="right" class="fa-solid fa-angle-right"></i>
    </div>


  </section>

  <section class="faq" id="faq">
  <div class="header">
    <h1 class="header-title">FAQ</h1>
    <p class="header-desc">Frequently Asked Questions</p>
    <div class="search">
      <!--<button id="getSupportButton">Get Support</button>-->
      <a href="/faq" class="button" id="getSupportButton">Get Support</a>
    </div>
  </div>
  <div class="faq">
    <img class="faq-image" src="/image/faq_image/faq2.jpg" />
    <div class="faq-name">
      <h1 class="faq-header">Have questions?</h1>
    </div>
  </div>
  <div class="faq-box">
    <div class="faq-wrapper">
      <input type="checkbox" class="faq-trigger" id="faq-trigger-1" />
      <label class="faq-title" for="faq-trigger-1"
        >What qualities do u look for canditates?</label
      >
      <div class="faq-detail">
        <p>
          Tourism is a dynamic and multifaceted industry that plays a crucial
          role in the global economy. It involves the movement of people from
          one place to another for various purposes, such as leisure,
          business, cultural exchange, and adventure. Tours can encompass a
          wide range of experiences, from visiting famous landmarks and
          natural wonders to exploring new cultures and cuisines.
        </p>
      </div>
    </div>
    <div class="faq-wrapper">
      <input type="checkbox" class="faq-trigger" id="faq-trigger-2" />
      <label class="faq-title" for="faq-trigger-2"
        >How can I search for tours in the database?</label
      >
      <div class="faq-detail">
        <p>
          You can search for tours in the database using various criteria,
          such as destination, duration, type of tour (e.g., adventure,
          cultural), budget, and availability dates. Most tour databases
          provide a user-friendly search interface to help you find the tours
          that match your preferences.
        </p>
      </div>
    </div>
    <div class="faq-wrapper">
      <input type="checkbox" class="faq-trigger" id="faq-trigger-3" />
      <label class="faq-title" for="faq-trigger-3"
        >Are the prices listed in the database inclusive of all costs?</label
      >
      <div class="faq-detail">
        <p>
          Prices listed in the database may vary. Some tours include all
          costs, while others may have additional fees that are not included
          in the initial price. It's essential to review the tour details and
          terms to understand what is covered and what is not.
        </p>
      </div>
    </div>
  </div> 
  </section>

  <!--for contact info-->
  <section class="contact-section">
    <div class="contact-container">
      <div class="admin-card">
        <h3>Admin 1</h3>
        <p>Name: Metaly</p>
        <p>Email: mst@example.com</p>
        <p>Phone: +1234567890</p>
      </div>
      <div class="admin-card">
        <h3>Admin 2</h3>
        <p>Name: Saima</p>
        <p>Email: saima@example.com</p>
        <p>Phone: +9876543210</p>
      </div>
    </div>
    <div class="agency-address">
      <h3>Our Agency Office</h3>
      <p>110,Zahir Raihan Road, Dhaka-1200</p>
      <p>Country : Bangladesh</p>
    </div>
  </section>



  <script src="/script/script.js"></script>
</body>

</html>