<!DOCTYPE html>
<html lang="en">
  <head>
    <!--PRAROZ CHANNEL | YOUTUBE-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Style CSS-->
    <link rel="stylesheet" href="style.css" />

    <!--FontAwesome icons CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
  </head>
  <body>
    <div class="glass">
      <nav>
        <ul>
          <li><a href="/home">HOME</a></li>
          <li><a href="#">Packages</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </nav>
      <div>
        <h3></h3>
        <h1>TOURHUB</h1>
      </div>
      <div class="icons">
        <ul>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-whatsapp"></i></li>
          <li><i class="fab fa-instagram"></i></li>
        </ul>
      </div>
    </div>
  </body>
</html>
