<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Details</title>
    <link rel="stylesheet" href="/styles/locationDetails-style.css">
</head>
<body>
    <header>
        <h1>Location Details</h1>
    </header>

    <main>
    <div class="image-container" id="image-container">
        <div class="image-slider">
            <div class="image-slide">
                <img src="/image/1.jpg" alt="">
            </div>
            <div class="image-slide">
                <img src="/image/2.jpg" alt="">
            </div>
            <div class="image-slide">
                <img src="/image/3.jpg" alt="">
            </div>
            <div class="image-slide">
                <img src="/image/4.jpg" alt="">
            </div>
        </div>
        <button class="prev-button">Previous</button>
        <button class="next-button">Next</button>
    </div>
    

        <div class="description-container">
            <h2>Description:</h2>
            <div class="Details" id="location-description"></div>
        </div>

        <div class="comment-container">
            <h1>Comments</h1>
            <div class="comments" id="comments">
                <!-- Comment items will be added here dynamically -->
            </div>
            <div class="view-more" id="view-more">
                <button id="view-more-button">View More Comments</button>
            </div>
            <form id="comment-form">
                <div class="comment-input-container">
                    <img src="myself.jpg" class="profile-picture" />
                    <textarea id="comment-input" placeholder="Write a comment"></textarea>
                    <input type="file" id="image-upload" accept="image/*">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        

    </main>

    <script>
        // Define the locationId as a JavaScript variable
        var locationId = "<%= locationId %>";
    </script>
    <script src="/script/locationDetails-script.js"></script>
    
</body>
</html>
