<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Package Details</title>
  <link rel="stylesheet" href=""> <!-- Link to your CSS stylesheet -->
</head>
<body>
  <header>
    <h1>Package Details</h1>
  </header>
  
  <main>
    <div class="box-container" id="package-details"></div>
  </main>

  <!-- Passing the tourId as a JavaScript variable in the scriptForDetails.js file -->
  <script>
    var tourId = "<%= tourId %>";
  </script>

  <script src="/script/scriptForDetails.js"></script>
</body>
</html>
