<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Package Details</title>
  <link rel="stylesheet" href="/styles/details-style.css">
</head>
<body>
  <header>
    <h1>Package Details</h1>
    <nav>
      <ul>
        <li><a href="locations" id="locationLink">Locations</a></li>
        <li><a href="food" id="foodLink">Food</a></li>
        <li><a href="others" id="othersLink">Others</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <section class="all-location" id="all-location">
      <h1 class="heading">
        <span>L</span>
        <span>O</span>
        <span>C</span>
        <span>A</span>
        <span>T</span>
        <span>I</span>
        <span>O</span>
        <span>N</span>
      </h1>
    <div class="box-container" id="package-details">
      <!-- Package details content here -->
    </div>
    </section>
  </main>

  <!-- Passing the tourId as a JavaScript variable in the scriptForDetails.js file -->
  <script>
    var tourId = "<%= tourId %>";
  </script>

  <script src="/script/scriptForDetails.js"></script>

  <script>
    // Get the Food link element
    const foodLink = document.getElementById("foodLink");
    const othersLink = document.getElementById("othersLink");
    const locationLink = document.getElementById("locationLink");

    // Append the tourId as a query parameter when clicking the Food link
    foodLink.addEventListener("click", function(event) {
      event.preventDefault();
      window.location.href = `/food/${tourId}`;
    });

    othersLink.addEventListener("click", function(event) {
      event.preventDefault();
      window.location.href = `/others/${tourId}`;
    });

    locationLink.addEventListener("click", function(event) {
      event.preventDefault();
      window.location.href = `/packageDetails/${tourId}`;
    });

  </script>

</body>
</html>
