<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Tour</title>
    <link rel="stylesheet" href="/styles/selectHotel-style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="slider">
      <div class="controls">
        <div class="up">
          <i class="fa fa-chevron-up"></i>
        </div>
        <div class="down">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
      <div class="wrapper">
        <div class="left">
          <div>
            <h2>Mumbai</h2>
            <p>
              Indulge in a delightful travel experience where quality comfort
              meets budget-friendly rates, curated exclusively within our
              selection of affordable hotels.
            </p>
          </div>
          <div>
            <h2>Chennai</h2>
            <p>
              Indulge in a delightful travel experience where quality comfort
              meets budget-friendly rates, curated exclusively within our
              selection of affordable hotels.
            </p>
          </div>
        </div>
        <div class="right">
          <div>
            <img src="/cox-bazar.jpg" />
          </div>
          <div>
            <img src="/sundarban.jpeg" />
          </div>
    
        </div>
      </div>
    </div>
    <script src="/script/selectHotel-script.js"></script>
  </body>
</html>