<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>
  <link rel="stylesheet" href="/styles/AdminProfile/adminProfile-style.css">
</head>
<body>
  <header>
    <h1>My Profile</h1>
    <nav>
      <ul>
        <li><a href='/Home'>BackToHome</a></li>
        <li><a href='/myAdminProfile'>Profile Info</a></li>
        <li><a href='/updateAdminProfile'>Update Profile</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <section id="profile" class="profile-section">

      <div class="profile-picture" id="profile-picture">
      </div>

      <div class="profile-info" id="profile-info">
        <!-- Profile information as mentioned earlier -->
      </div>
    </section>
  </main>
  
  <script src="/script/AdminProfile/adminProfile-script.js"></script>
</body>
</html>
