@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
.hidden {
  display: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}
header .logo span {
  color: var(--orange);
}
header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0.8rem;
}
header .navbar a:hover {
  color: var(--blue);
}
header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
  text-decoration: none;
}
header .icons i:hover {
  color: var(--blue);
}
header .trip_bx {
  position: fixed;
  width: 80%;
  height: auto;
  margin-top: 120px;
  border: 2px;
  margin-left: 230px;
}
header .trip_bx .search_bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfafa;
  border-radius: 5px;
  box-shadow: 0px 10px 25px rgb(114, 114, 114);
  z-index: 1;
  padding: 0px 20px;
}
header .trip_bx .search_bx .card {
  width: 200px;
  height: 100%;
  border: 1px;
}
header .trip_bx .search_bx .card h4 {
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}
header .trip_bx .search_bx .card h4 .bi {
  position: absolute;
  font-size: 13px;
  margin: 2px 0px 0px 5px;
  transition: 0.3s linear;
}
header .trip_bx .search_bx .card input {
  margin-top: 3px;
  padding: 5px 0px;
  border: none;
  outline: none;
  font-size: 13px;
}
header .trip_bx .search_bx input[type="button"] {
  background: #2a2929;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 40px;
  transition: 0.2s linear;
  cursor: pointer;
}
header .trip_bx .search_bx input[type="button"]:hover {
  background: rgb(123, 120, 120);
}
.home .content .btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #0e0e0e;
  padding: 1rem 2rem;
  border: 2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2.5rem;
}
section {
  padding: 20rem 9%;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.home .content {
  text-align: center;
}
.home .content h3 {
  font-size: 4.5rem;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.1);
}
.home .content p {
  font-size: 2.5rem;
  color: #f4f4f4;
  padding-top: 5rem;
}
.home .content .btn {
  color: #f4f4f4;
}
.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding-left: 0rem;
  padding-top: 7rem;
}
.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.3);
}
.home .controls .vid-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
}
.home .controls .vid-btn .active {
  background: var(--blue);
}
.packages .heading {
  text-align: center;
}
.packages .heading span {
  font-size: 3.5rem;
  background: rgba(230, 172, 58, 0.2);
  color: rgb(50, 226, 226);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.packages .box-container {
  width: 100%;
  padding-top: 5rem;
  gap: 2rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.packages .box-container .box {
  flex: 1 1 calc(33.33% -2rem);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  max-width: calc(33.33% - 2rem);
}
.packages .box-container .box img {
  height: 35rem;
  width: 100%;
  object-fit: fill;
}
.packages .box-container .btn {
  background-color: rgb(118, 113, 113);
  color: white;
  padding: 9px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
  display: inline-block;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  word-spacing: 0.5rem;
  text-align: center;
  align-items: center;
}
.packages .box-container .btn:hover {
  background-color: rgb(182, 176, 176);
  color: black;
}
.packages .box-container .box .content {
  padding: 2rem;
  align-items: center;
  text-align: center;
}
.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}
.packages .box-container .box .content h3 i {
  color: var(--blue);
}
.packages .box-container .box .content p {
  font-size: 1.7rem;
  color: #666;
}
.packages .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #434648;
}
.packages .box-container .box .content .price {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
  letter-spacing: 0.2rem;
  word-spacing: 2rem;
}
.packages .box-container .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.services .heading {
  text-align: center;
}
.services .heading span {
  font-size: 3.5rem;
  background: rgba(230, 172, 58, 0.2);
  color: rgb(50, 226, 226);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.services .box-container {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.services .box-container .box {
  flex: 1 1 40rem;
  border-radius: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  background: #eef3f4;
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-left: .07rem;
  margin-right: .07rem;
}
.services .box-container .box i {
  padding: 1rem;
  font-size: 5rem;
  color: #764f4f;
}
.services .box-container .box h3 {
  padding: 2.5rem;
  color: #333;
  font-size: 2rem;
}
.services .box-container .box p {
  font-size: 1.2rem;
  color: #232222;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 1.5rem;
  font-weight: 500;
}
.services .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}



/* css for contact section */

.contact-section {
  padding: 40px 0;
  background-color: #f5f5f5;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.admin-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.admin-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.admin-card p {
  font-size: 16px;
  margin: 8px 0;
}

.agency-address {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 60%;
}

.agency-address h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.agency-address p {
  font-size: 16px;
  margin: 8px 0;
}

/*--------CSS for review ---------*/
.review .heading {
  text-align: center;
}
.review .heading span {
  font-size: 3.5rem;
  background: rgba(230, 172, 58, 0.2);
  color: rgb(50, 226, 226);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.Wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.Wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.Wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.Wrapper i:first-child {
  left: -22px;
}
.Wrapper i:last-child {
  right: -22px;
}
.Wrapper .carousel {
  padding-top: 30px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card .description {
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff7f7;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8b53ff;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card p {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.4rem;
}
.carousel .card h2 {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}
.carousel .card .stars {
  color: #f1c40f; /* Star color (yellow) */
  margin-top: 10px;
  font-size: 3px;
}

.carousel .card .stars i {
  margin-right: 5px;
}

/* This is optional if you want to make the stars larger on hover */
@media screen and (max-width: 900px) {
  .Wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .Wrapper .carousel {
    grid-auto-columns: 100%;
  }
}


/* style for faq */
:root {
  --primaryColor: #ff901d;
  --softColor: #ffeedd;
  --whiteColor: #f5f5f5;
  --blackColor: #222;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: auto;
  padding: 3%;
  background-color: var(--softColor);
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/Practice/faq.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 3%;
  border-radius: 30px;
  max-height: 380px;
  color: var(--whiteColor);
}
.header-title {
  font-size: 48px;
  letter-spacing: 1.5;
}
.header-desc {
  font-size: 14px;
  letter-spacing: 1;
  text-align: center;
}
.search {
  padding-top: 1rem;
}
.search button {
  width: 100%;
  min-width: 150px;
  min-height: 30px;
  height: 100%;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 200px;
  cursor: pointer;
}
.search button:hover {
  background-color: var(--blackColor);
}
.faq {
  width: 100%;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
  padding-left: 30rem;
}
.faq-name {
  flex: 0.5;
  text-align: center;
  padding-right: 30rem;
}
.faq-image {
  border-radius: 20px;
  max-width: 400px;
}
.faq-header {
  padding: 5% 0 0 0;
  font-size: 40px;
  letter-spacing: 2;
}
.faq-box {
  padding-top: 20px;
  flex: 1;
  padding: 2% 0 4% 4%;
  min-width: 320px;
  border-left: 2px solid var(--primaryColor);
}
.faq-wrapper {
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid var(--blackColor);
}
.faq-title {
  display: block;
  position: relative;
  width: 100%;
  letter-spacing: 1.2;
  font-size: 24px;
  font-weight: 600;
  color: var(--primaryColor);
}
.faq-title::after {
  width: 10px;
  height: 10px;
  content: "";
  float: right;
  border-style: solid;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
  transition: 0.4s ease-in-out;
}
.faq-detail {
  line-height: 1.5;
  letter-spacing: 1;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}
.faq-trigger {
  display: none;
}
.faq-trigger:checked + .faq-title + .faq-detail {
  max-height: 300px;
}
.faq-trigger:checked + .faq-title::after {
  transform: rotate(-45deg);
  transition: 0.4s ease-in-out;
}

/*-------css for gallery------*/
.gallery .heading {
  text-align: center;
}
.gallery .heading span {
  font-size: 3.5rem;
  background: rgba(230, 172, 58, 0.2);
  color: rgb(50, 226, 226);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.gallery .box-container {
  width: 100%;
  padding-top: 5rem;
  gap: 2rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.gallery .box-container .box {
  flex: 1 1 calc(33.33% -2rem);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  max-width: calc(33.33% - 2rem);
  height: 25rem;
  position: relative;
}
.gallery .box-container .box img {
  height: 35rem;
  width: 100%;
  object-fit: cover;
}
.gallery .box-container .box .content .btn {
  background-color: rgb(118, 113, 113);
  color: orange;
  padding: 9px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
  display: inline-block;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  word-spacing: 0.5rem;
  text-align: center;
  align-items: center;
}
.gallery .box-container .box .content .btn:hover {
  background-color: rgb(182, 176, 176);
  color: white;
}
.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 5rem;
}
.gallery .box-container .box:hover .content {
  top: 0;
}
.gallery .box-container .box .content h3 {
  font-size: 2rem;
  color: orange;
}
.gallery .box-container .box .content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 0.5rem 0;
  padding-bottom: 2rem;
}
