@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
.hidden {
  display: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}
header .logo span {
  color: var(--orange);
}
header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0.8rem;
}
header .navbar a:hover {
  color: var(--blue);
}
header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
  text-decoration: none;
}
header .icons i:hover {
  color: var(--blue);
}
header .trip_bx {
  position: fixed;
  width: 80%;
  height: auto;
  margin-top: 120px;
  border: 2px;
  margin-left: 230px;
}
header .trip_bx .search_bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfafa;
  border-radius: 5px;
  box-shadow: 0px 10px 25px rgb(114, 114, 114);
  z-index: 1;
  padding: 0px 20px;
}
header .trip_bx .search_bx .card {
  width: 200px;
  height: 100%;
  border: 1px;
}
header .trip_bx .search_bx .card h4 {
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}
header .trip_bx .search_bx .card h4 .bi {
  position: absolute;
  font-size: 13px;
  margin: 2px 0px 0px 5px;
  transition: 0.3s linear;
}
header .trip_bx .search_bx .card input {
  margin-top: 3px;
  padding: 5px 0px;
  border: none;
  outline: none;
  font-size: 13px;
}
header .trip_bx .search_bx input[type="button"] {
  background: #2a2929;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 40px;
  transition: 0.2s linear;
  cursor: pointer;
}
header .trip_bx .search_bx input[type="button"]:hover {
  background: rgb(123, 120, 120);
}
.home .content .btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #0e0e0e;
  padding: 1rem 2rem;
  border: 2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2.5rem;
}
section {
  padding: 20rem 9%;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.home .content {
  text-align: center;
}
.home .content h3 {
  font-size: 4.5rem;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.1);
}
.home .content p {
  font-size: 2.5rem;
  color: #f4f4f4;
  padding-top: 5rem;
}
.home .content .btn {
  color: #f4f4f4;
}
.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding-left: 0rem;
  padding-top: 7rem;
}
.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.3);
}
.home .controls .vid-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
}
.home .controls .vid-btn .active {
  background: var(--blue);
}
.packages .heading {
  text-align: center;
}
.packages .heading span {
  font-size: 3.5rem;
  background: rgba(230, 172, 58, 0.2);
  color: rgb(50, 226, 226);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.packages .box-container {
  width: 100%;
  padding-top: 5rem;
  gap: 2rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.packages .box-container .box {
  flex: 1 1 calc(33.33% -2rem);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  max-width: calc(33.33% - 2rem);
}
.packages .box-container .box img {
  height: 35rem;
  width: 100%;
  object-fit: fill;
}
.packages .box-container .btn {
  background-color: rgb(118, 113, 113);
  color: white;
  padding: 9px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
  display: inline-block;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  word-spacing: 0.5rem;
  text-align: center;
  align-items: center;
}
.packages .box-container .btn:hover {
  background-color: rgb(182, 176, 176);
  color: black;
}
.packages .box-container .box .content {
  padding: 2rem;
  align-items: center;
  text-align: center;
}
.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}
.packages .box-container .box .content h3 i {
  color: var(--blue);
}
.packages .box-container .box .content p {
  font-size: 1.7rem;
  color: #666;
}
.packages .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #434648;
}
.packages .box-container .box .content .price {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
  letter-spacing: 0.2rem;
  word-spacing: 2rem;
}
.packages .box-container .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}
.services .heading {
  text-align: center;
}
.services .heading span {
  font-size: 3.5rem;
  background: rgba(230, 172, 58, 0.2);
  color: rgb(50, 226, 226);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.services .box-container {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.services .box-container .box {
  flex: 1 1 40rem;
  border-radius: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  background: #eef3f4;
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-left: .07rem;
  margin-right: .07rem;
}
.services .box-container .box i {
  padding: 1rem;
  font-size: 5rem;
  color: #764f4f;
}
.services .box-container .box h3 {
  padding: 2.5rem;
  color: #333;
  font-size: 2rem;
}
.services .box-container .box p {
  font-size: 1.2rem;
  color: #232222;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 1.5rem;
  font-weight: 500;
}
.services .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}