<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/Blog/seeBlog-style.css"> <!-- Include your CSS file -->
</head>
<body>
    <div class="blog-container" id="blog-list">
    </div>
    <script src="/script/seeBlog-script.js">
    </script>
</body>
</html>
