<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>
  <link rel="stylesheet" href="/styles/myProfile/previousTour-style.css">
</head>
<body>
  <header>
    <h1>My Profile</h1>
    <nav>
      <ul>
        <li><a href='/home'>Home</a></li>
        <li><a href='/myProfile'>Profile Info</a></li>
        <li><a href='/previous-tour'>Previous Tour History</a></li>
        <li><a href='/current-tour'>Current Tour</a></li>
        <li><a href='/update-profile'>Update Profile</a></li>
      </ul>
    </nav>
  </header>
  
  <main> 
    <section id="current-tour" class="tour-history">
      <!--<h2>Previous Tour History</h2>-->
      <!-- Display previous tour history here -->
    </section>
  </main>

  <script src="/script/UserProfile/currentTourHistory-script.js"></script>
  
</body>
</html>
